name: Publish PyPI

on:
  release:
    types: [ published ]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          command: build
          args: --release --out dist --find-interpreter
          sccache: 'true'
      - name: Build dist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: --out dist
      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1
        with:
          command: upload
          args: --non-interactive
          # 需要在 GitHub Secrets 中设置 PYPI_API_TOKEN
          # 参考: https://pypi.org/help/#apitoken
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}